*{
    box-sizing: border-box;
}

table, th, td { background-color: #796d03;
    color: white;
    border: 1px solid black;}

    header{
        display: inline;
            width:50px;
          
         
          /* outline: hsl(347, 96%, 48%) solid 12px; */
         
          font-size: 20px;
          text-shadow: 3px 2px red;
          } 



img{
          animation:fall 15s linear infinite ;
          animation-delay:-4s;
        }
        
a{
    
    padding: 11px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #690000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}